/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
  background-color: #fffef8;
}
body {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  height: 60px;
  background: inherit;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}
section {
  margin: 20px 0px 150px 0px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
nav img {
  width: 20px;
  height: 20px;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 2em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
input[type="submit"]:hover {
  background-color: #0e2f28;
  cursor: pointer;
}

footer nav ul {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}
/* ajout du css des boutons filter */

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0rem 0rem 3rem 0rem;
}

.filters-button {
  background-color: white;
  border: 1px solid #1d6154;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
}

.filters-active {
  background-color: #1d6154;
  border: 1px solid #1d6154;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}
/*section Log in page*/

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-container label {
  font-size: small;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.login-container input {
  width: 22rem;
  height: 40px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.mdp {
  color: inherit;
}
.login-button {
  font-size: 1.2em;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  padding: 0.8rem 2rem;
  width: 12rem;
  text-align: center;
  border-radius: 60px;
  border: none;
}
.login-button:hover {
  background-color: #0e2f28;
  cursor: pointer;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Syne";
  text-decoration: none;
  color: inherit;
  font: inherit;
}

li span {
  cursor: default;
  font-weight: 700;
}
.edition-div {
  display: flex;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.edition-banner {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.edition-banner p {
  font-size: 14px;
  font-weight: 300;
  margin-left: 1rem;
}
#portfolio {
  position: relative;
}
.edition-button {
  display: flex;
  position: absolute;
  top: 13px;
  right: 350px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.edition-button p {
  font-size: 14px;
  font-weight: 300;
  margin-left: 0.5rem;
}

/* Modal styles */

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal-hidden {
  display: none;
}
.modal-active {
  display: flex;
}

.modal-wrapper {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 700px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  background-color: #fff;
}
.nav-modal {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.return-button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: 26px;
}

.close-modal {
  display: flex;
  position: absolute;
  top: 26px;
  right: 26px;
  background-color: white;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}
.close-icon {
  width: 25px;
  height: 25px;
  pointer-events: none;
  cursor: inherit;
}

#title-modal {
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  color: black;
}

.modal-buttons {
  position: absolute;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  height: 36px;
  width: 236px;
  text-align: center;
  border-radius: 60px;
  border: none;
  align-self: center;
  bottom: 40px;
}

.button-active {
  background-color: #1d6154;
  cursor: pointer;
}

.button-inactive {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.gallery-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 30px 50px 30px;
}
.gallery-modal .work-image {
  width: 76px;
  height: 102px;
  object-fit: cover;
}
.gallery-modal figure {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-end;
}
.gallery-modal .trash-icon-container {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.trash-icon {
  position: relative;
  width: 10px;
  height: 12px;
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid #b3b3b3;
  display: flex;
  position: absolute;
  align-self: center;
  bottom: 100px;

  width: 60%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 70%;
  margin-left: 70px;
  margin-right: 70px;
}
.uploader {
  width: 100%;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #e8f1f6;
  padding: 0px 160px;
  border-radius: 8px;
}
.file-logo {
  width: 76px;
  height: 76px;
}
.file-input {
  display: none;
}
.file-label {
  font-size: 12px;
}
.file-button {
  background-color: #cbd6dc;
  color: #306685;
  font-weight: 600;
  width: 173px;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-style {
  width: 100%;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.label-style {
  font-family: "Work Sans";
  font-size: 15px;
  color: #3d3d3d;
  font-weight: 600;
  align-self: flex-start;
}
.preview-container {
  position: absolute;
  height: 100%;
  width: 40%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.unloaded {
  z-index: -1;
}

.loaded {
  z-index: 1;
}

.preview-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display-none {
  display: none;
}
.display {
  display: block;
}

.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
